* {
  margin: 0;
  padding: 0;
}

html, body, p, span {
  box-sizing: border-box;;
}

body {
  background-color: #f9f9f9;
  color: #333;
  font-family: monospace;
  font-size: 22px;
  line-height: 1.4em;
}

.container {
  margin: 0 auto;
  padding: 10px;
  min-width: 720px;
  max-width: 720px;
  margin-top: 35.5vh;
  text-align: left;
}

#quote-text {
  text-align: justify;
}

#quote-author {
  font-size: 0.8em;
  margin-top: 0.5em;
  font-weight: bold;
  font-style: italic;
}
#quote-author::before {
  content: " - "
}
